ion-content{
    position: relative;
    background-color: #73A0D0!important;
}

ion-content img{
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}